<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <title>Priceboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"></script>
</head>
<body>
    <div class="dashboard">
        <header>
            <h1>HOSE Stock Priceboard</h1>
        </header>
        <section class="search-section">
            <input type="text" id="search" 
                   placeholder="Search for stocks...">
            <table id="stock-table">
                <thead>
                    <tr class="title firstrow">
                        <th rowspan="2" data-column="0">Stock Name</th>
                        <th rowspan="2" data-column="1">Ceil</th>
                        <th rowspan="2" data-column="2">Floor</th>
                        <th rowspan="2" dataname="3">Ref</th>
                        <th colspan="6" data-column="4-9">Bid</th>
                        <th colspan="3" data-column="10-12">Matched</th>
                        <th colspan="6" data-column="13-18">Ask</th>
                        <th rowspan="2" data-column="19">Total Vol</th>
                        <th rowspan="2" data-column="20">Open</th>
                        <th rowspan="2" data-column="21">High</th>
                        <th rowspan="2" data-column="22">Low</th>
                        <th rowspan="2" data-column="23">F.Buy</th>
                        <th rowspan="2" data-column="24">F.Sell</th>
                        <th rowspan="2" data-column="25">F.Remain</th>
                    </tr>
                    <tr class="title secondrow">
                        <th data-column="4">Price3</th>
                        <th data-column="5">Vol3</th>
                        <th data-column="6">Price2</th>
                        <th data-column="7">Vol2</th>
                        <th data-column="8">Price1</th>
                        <th data-column="9">Vol1</th>
                        <th data-column="10">+/-</th>
                        <th data-column="11">Matched Price</th>
                        <th data-column="12">Match Vol</th>
                        <th data-column="13">Price1</th>
                        <th data-column="14">Vol1</th>
                        <th data-column="15">Price2</th>
                        <th data-column="16">Vol2</th>
                        <th data-column="17">Price3</th>
                        <th data-column="18">Vol3</th>
                    </tr>
                </thead>
                
                <tbody>
                    <!-- Stock list will be dynamically added here -->
                </tbody>
            </table>
        </section>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
